<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= page_title %></title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="css/common.css" />
  <link rel="stylesheet" href="css/actualities.css" />
</head>

<body>
  <%- include('partials/header') %>

  <div id="site-content">
    <main>
      <h1>Actualités</h1>
      

      <section>
        <div class="bloc1">
          <div class="titre">
            <h2>D’ÉVREUX À HOLLYWOOD</h2>
            <div class="loader"></div>
          </div>
          <div class="description-2">
            <p>
              Article La dépêche.<br />
              Grand format D'Évreux à Hollywood : Cyril Raffaelli, des films en
              cascade Action director/Chorégraphe
            </p>
          </div>
          <a href="" class="cta">
            <span>Suivre</span>
            <svg viewBox="0 0 13 10" height="10px" width="15px">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </a>
        </div>
        <div class="bloc2"><img src="image/Film.jpg" /></div>
      </section>

      <section>
        <div class="bloc2">
          <img src="/image/Film.jpg" />
        </div>
        <div class="bloc1">
          <div class="titre">
            <h2>CHAUVE LA REVANCHE</h2>
            <div class="loader"></div>
          </div>
          <div class="description-1">
            <p>
              Reportage sur France 5 Au travers des témoignages de chauves
              célèbres, le film retrace la « révolution intime et collective »
              de l’image des chauves dans la culture populaire, du guignol
              dégarni au héros<br />
              Action director/Chorégraphe
            </p>
          </div>
          <a href="" class="cta">
            <span>Suivre</span>
            <svg viewBox="0 0 13 10" height="10px" width="15px">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </a>
        </div>
      </section>

      <section>
        <div class="bloc1">
          <div class="titre">
            <h2>D’ÉVREUX À HOLLYWOOD</h2>
            <div class="loader"></div>
          </div>
          <div class="description-2">
            <p>
              Article La dépêche.<br />
              Grand format D'Évreux à Hollywood : Cyril Raffaelli, des films en
              cascade Action director/Chorégraphe
            </p>
          </div>
          <a href="" class="cta">
            <span>Suivre</span>
            <svg viewBox="0 0 13 10" height="10px" width="15px">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </a>
        </div>
        <div class="bloc2"><img src="/image/Film.jpg" /></div>
      </section>
    </main>
  </div>

  <!-- FOOTER -->
  <div id="site-footer">
    <%- include('partials/footer') %>
  </div>

</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="js/script.js"></script>
<script src="js/footer.js"></script>

</html>