<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= page_title %></title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="css/common.css" />
  <link rel="stylesheet" href="css/biographie.css">
</head>

<body>
  <%- include('partials/header') %>

  <main id="site-content">

    <section class="intro">
      <div class="imgTitre">
        <img src="/image/imgbiographie.jpg">
      </div>

      <div class="tableau">
        <span class="cellule">
          <h3>Nom</h3>
          <p>Cyril Raffaelli</p>
        </span>
        <span class="cellule">
          <h3>Date d'anniversaire</h3>
          <p>1er avril 1974</p>
        </span>
        <span class="cellule">
          <h3>Emplacement de naissance</h3>
          <p>Paris</p>
        </span>
        <span class="cellule">
          <h3>Signe astrologie</h3>
          <p>Bélier</p>
        </span>
        <div class="description">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur eos aliquid quod quidem, architecto
            ullam fugit dolorem quia dolorum optio harum voluptatum dolore quam? Id incidunt aperiam ipsum
            necessitatibus illum?</p>
        </div>
      </div>
    </section>

    <section class="contenu">
      <p>
        Cyril Raffaelli découvre les arts martiaux à l'âge de 6 ans sous l'impulsion de ses grands frères. Fasciné, il
        se lance dans la pratique du nunchaku et s'inscrit au karaté Shotokan en club.<br>
        Plus tard il découvre les films de Jean Paul Belmondo et Jackie Chan, qui vont dès lors nourrir son envie de
        faire du cinéma.<br>
        À 14 ans Cyril entre à l'Ecole Nationale du Cirque d'Annie Fratellini. Il fait alors la rencontre d'Annie et
        de Pierre Etaix, avec qui il va travailler l'art clownesque. C'est au cours de ces années de formation qu'il
        acquiert une technique solide en acrobatie et arts du cirque. Parallèlement 4 soirs par semaine Cyril pratique
        les Arts Martiaux en club.
        Par la suite, toujours dans le cirque, il accompagne les grandes familles telles que Bouglione, Zavalta,
        Pinder et bien sûr Fratellini pour leurs tournées.
      </p>
    </section>
    <section class="contenu white">
      <div class="custom-shape-divider-top">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
      <p>
        En 1991, Cyril est sollicité par le monde du théâtre afin de préparer la chorégraphie des cascades pour la pièce
        « Les précieuses ridicules » et pour interpréter le rôle d'un des deux porteurs de Mascarille.<br>
        Il est alors repéré par le milieu télévisuel pour doubler certains comiques du moment comme par exemple Laurent
        Baffe.<br>
        Il participe également à des conventions-spectacles publicitaires pour des marques comme : Creeks, Canon,
        Peugeot ou encore Louis Vuitton, mis en scène par Robert Hossein au Palais de Chaillot. En parallèle, il est
        acrobate à l'opéra "Parade" d'Eric Satie au théâtre du Chatelet.<br>
        En 1993, Cyril est convoqué au casting de la nouvelle version de Starmania, mise en scène par Lewis Furey. Luc
        Plamandon lui donne le rôle d'une « Etoile Noire * qu'il tient pendant quatre années consécutives aux cotés de
        Bruno Pelletier, Isabelle Boulay, Jasmin Roy ou encore Marie Carmen.<br>
        Retour au petit écran, Patrick Sébastien confie à Cyril la création de trois sketchs en caméra cachée, diffusés
        en première partie de " OSONS'*, programme animé par Patrick Sébastien. Cyril reprendra le même concept pour les
        télés étrangères: Autriche, Suisse, Belgique, Allemagne, Hollande, Espagne, Portugal.
      </p>
      <div class="custom-shape-divider-bottom">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
    </section>
    <section class="contenu">
      <p>
        Le cinéma commence à s'intéresser à Cyril en 1999, année où il se voit confier sa première prestation de cascadeur de l'ombre, dans un film de Gérard Jugnot. Peu de temps après, il sera
la doublure «fight» de Jean-Claude Van Damme sur le film "Double Team".<br>
Cyril ne délaisse pas pour autant le sport. Il multiplie les participations à des compétitions officielles et les trophées par la même occasion. Il est champion du monde IKFF en Combat Combiné lors du tournoi argentin en 1997, champion de France combat de boxe chinoise (San da) en 1998, médaille de Bronze combat aux mondiaux IKFF en 1999.
Sa rencontre avec Luc Besson fin 1999 sur le tournage de « Jeanne d'Arc * sera décisive, puisque dès lors Cyril se retrouve au casting d'un grand nombre de films d'action produit par Europacorp (Taxi, Wasabi, Transporteur, Arthur et les minimoys etc.).<br>
Son premier rôle d'importance face caméra est celui d'un dur menant un combat final épique contre Jet Li, dans " Le Baiser mortel du dragon".<br>
En 2000, le producteur français lui présente David Belle avec qui il va très vite se lier d'amitié. Ils eurent l'occasion de travailler ensemble sur " Intervention Divine » et " Les rivières pourpres 2» en 2002.
      </p>
    </section>
  </main>

  <!-- FOOTER -->
  <div id="site-footer">
    <%- include('partials/footer') %>
  </div>

</body>
<!--Script-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="js/script.js"></script>
<script src="js/footer.js"></script>

</html>