<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= page_title %></title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="css/common.css" />
  <link rel="stylesheet" href="css/filmographie.css">
</head>

<body>
  <div id="site-content">
    <%- include('partials/header') %>
    <main>
      <h1>Filmographie</h1>
      <section class="films">
        <div class="bg"><img src="image/Cyril-RAFFAELLI.jpg"></div>
        <div class="content">
          <h2>Acteur</h2>
          <h3>Titre</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam veritatis voluptatum dignissimos ex sed,
            mollitia nemo, nobis dolor atque est odio qui pariatur at! Modi, itaque. Enim dolorem laborum ipsum.</p>
          <a href="/media" class="cta">
            <span>Voir&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <svg viewBox="0 0 13 10" height="10px" width="15px">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </a>
          <div class="media"><img src="image/bruceanddoublur.jpg"></div>
        </div>
      </section>
      <section class="films">
        <div class="bg"><img src="image/Bruceanddoublur2.jpg"></div>
        <div class="content">
          <h2>Chorégraphe</h2>
          <h3>Titre</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam veritatis voluptatum dignissimos ex sed,
            mollitia nemo, nobis dolor atque est odio qui pariatur at! Modi, itaque. Enim dolorem laborum ipsum.</p>
          <a href="/media" class="cta">
            <span>Voir&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <svg viewBox="0 0 13 10" height="10px" width="15px">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </a>
          <div class="media"><img src="image/bruceanddoublur.jpg"></div>
        </div>
      </section>
      <section class="films">
        <div class="bg"><img src="image/Cyril4.jpg"></div>
        <div class="content">
          <h2>Cascadeur</h2>
          <h3>Titre</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam veritatis voluptatum dignissimos ex sed,
            mollitia nemo, nobis dolor atque est odio qui pariatur at! Modi, itaque. Enim dolorem laborum ipsum.</p>
          <a href="/media" class="cta">
            <span>Voir&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <svg viewBox="0 0 13 10" height="10px" width="15px">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </a>
          <div class="media"><img src="image/bruceanddoublur.jpg"></div>
        </div>
      </section>
      <section class="films">
        <div class="bg"><img src="image/Cyril-RAFFAELLI.jpg"></div>
        <div class="content">
          <h2>Publicité</h2>
          <h3>Titre</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam veritatis voluptatum dignissimos ex sed,
            mollitia nemo, nobis dolor atque est odio qui pariatur at! Modi, itaque. Enim dolorem laborum ipsum.</p>
          <a href="/media" class="cta">
            <span>Voir&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <svg viewBox="0 0 13 10" height="10px" width="15px">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </a>
          <div class="media"><img src="image/bruceanddoublur.jpg"></div>
        </div>
      </section>
      <section class="films">
        <div class="bg"><img src="image/Cyril-RAFFAELLI.jpg"></div>
        <div class="content">
          <h2>Spectacles</h2>
          <h3>Titre</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam veritatis voluptatum dignissimos ex sed,
            mollitia nemo, nobis dolor atque est odio qui pariatur at! Modi, itaque. Enim dolorem laborum ipsum.</p>
          <a href="/media" class="cta">
            <span>Voir&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <svg viewBox="0 0 13 10" height="10px" width="15px">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </a>
          <div class="media"><img src="image/bruceanddoublur.jpg"></div>
        </div>
      </section>
      <section class="films">
        <div class="bg"><img src="image/Cyril-RAFFAELLI.jpg"></div>
        <div class="content">
          <h2>Tournée</h2>
          <h3>Titre</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam veritatis voluptatum dignissimos ex sed,
            mollitia nemo, nobis dolor atque est odio qui pariatur at! Modi, itaque. Enim dolorem laborum ipsum.</p>
          <a href="/media" class="cta">
            <span>Voir&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <svg viewBox="0 0 13 10" height="10px" width="15px">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </a>
          <div class="media"><img src="image/bruceanddoublur.jpg"></div>
        </div>
      </section>
    </main>
  </div>

  <!-- FOOTER -->
  <div id="site-footer">
    <%- include('partials/footer') %>
  </div>
</body>
<!--Script-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="js/script.js"></script>
<script src="js/footer.js"></script>

</html>