<!DOCTYPE html>
<html lang="fr" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= page_title %></title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="Gervat" />
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
	<!-- Feather Icons -->
	<link rel="stylesheet" type="text/css" href="fonts/feather/style.css">
	<!-- General demo styles & header -->
	<link rel="stylesheet" type="text/css" href="css/demo.css" />
	<!-- Component styles -->
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/gallery.css" />
	<script src="js/modernizr.custom.js"></script>
</head>
<body>
	
	<%- include('partials/header') %>
		<!-- Main container -->
		<div class="container">
			<h1>Galerie</h1>
			<!-- Grid -->
			<section class="slider">
				<div class="slide slide--current" data-content="content-1">
					<div class="slide__mover">
						<div class="zoomer flex-center">
							<img class="zoomer__image" src="image/Cyril4.jpg" alt="iPhone" />
							<div class="preview">
								<!-- <img src="images/iphone-content-preview.png" alt="iPhone app preview" /> -->
								<!--Zoom JS-->
								<div class="zoomer__area zoomer__area--size-2"></div>
							</div>
						</div>
					</div>
					<h2 class="slide__title"><span>The Classy</span> Transporteur </h2>
				</div>
				<div class="slide" data-content="content-2">
					<div class="slide__mover">
						<div class="zoomer flex-center">
							<img class="zoomer__image" src="image/CyrilRSlider.jpg" alt="iPad Mini" />
							<div class="preview">
								<!-- <img src="images/ipad-content-preview.png" alt="iPad Mini app preview" /> -->
								<div class="zoomer__area zoomer__area--size-4"></div>
							</div>
						</div>
					</div>
					<h2 class="slide__title"><span>The Fantastic</span> Taxi 2 </h2>
				</div>
				<div class="slide" data-content="content-3">
					<div class="slide__mover">
						<div class="zoomer flex-center">
							<img class="zoomer__image" src="image/CyrilRSlider.jpg" alt="MacBook" />
							<div class="preview">
								<!-- <img src="images/macbook-content-preview.jpg" alt="MacBook app preview" /> -->
								<div class="zoomer__area zoomer__area--size-3"></div>
							</div>
						</div>
					</div>
					<h2 class="slide__title"><span>The Amazing</span> Axtérix et Obélix</h2>
				</div>
				<div class="slide" data-content="content-4">
					<div class="slide__mover">
						<div class="zoomer flex-center">
							<img class="zoomer__image" src="image/CyrilRSlider.jpg" alt="iMac" />
							<div class="preview">
								<!-- <img src="images/imac-content-preview.jpg" alt="iMac app preview" /> -->
								<div class="zoomer__area zoomer__area--size-5"></div>
							</div>
						</div>
					</div>
					<h2 class="slide__title"><span>The Glorious</span> Les rivières pourpres</h2>
				</div>
				<div class="slide" data-content="content-5">
					<div class="slide__mover">
						<div class="zoomer flex-center">
							<img class="zoomer__image" src="image/CyrilRSlider.jpg" alt="Apple Watch" />
							<div class="preview rounded">
								<!-- <img src="images/apple-watch-content-preview.png" alt="Apple Watch app preview" /> -->
								<div class="zoomer__area zoomer__area--size-1"></div>
							</div>
						</div>
					</div>
					<h2 class="slide__title"><span>The Fabulous</span> Les rois mages</h2>
				</div>
				<nav class="slider__nav">
					<button class="button button--nav-prev"><i class="icon icon--arrow-left"></i><span class="text-hidden">Previous product</span></button>
					<button class="button button--zoom"><i class="icon icon--zoom"></i><span class="text-hidden">View details</span></button>
					<button class="button button--nav-next"><i class="icon icon--arrow-right"></i><span class="text-hidden">Next product</span></button>
				</nav>
			</section>


				<!--Contenu slider inside-->
			<!-- /slider-->
			<section class="content">
				<h2>Title</h2>
				<div class="content__item" id="content-1">
					<img id="fullImg" class="content__item-img rounded-right" src="image/Film.jpg" alt="Apple Watch Content" />
					<div class="content__item-inner">
						<img src="image/Film.jpg" alt="">
						<img src="image/bruceanddoublur.jpg" alt="">
						<img src="image/Bruceanddoublur2.jpg" alt="">
						<img src="image/Cyril4.jpg" alt="">
						<img src="image/Cyril4.jpg" alt="">
						<img src="image/Cyril4.jpg" alt="">
					</div>
				</div>
				<div class="content__item" id="content-2">
					<img class="content__item-img rounded-right" src="image/Film.jpg" alt="iPad Mini Content" />
					<div class="content__item-inner">
						<h2>The iPad Mini</h2>
						<h3>Desktop-class architecture without a desktop</h3>
						<p>Don’t let its size fool you. iPad mini 3 is powered by an A7 chip with 64-bit desktop-class architecture. A7 delivers amazing processing power without sacriﬁcing battery life. So you get incredible performance in a device you can take with you wherever you go.</p>
						<p><a href="https://www.apple.com/ipad-mini-3/performance/">Learn more about Performance &xrarr;</a></p>
					</div>
				</div>
				<div class="content__item" id="content-3">
					<img class="content__item-img rounded-right" src="image/Film.jpg" alt="MacBook Content" />
					<div class="content__item-inner">
						<h2>The MacBook</h2>
						<h3>It's the future of the notebook</h3>
						<p>With the new MacBook, we set out to do the impossible: engineer a full-size experience into the lightest and most compact Mac notebook ever. That meant reimagining every element to make it not only lighter and thinner but also better. The result is more than just a new notebook. It's the future of the notebook.</p>
						<p><a href="https://www.apple.com/macbook/design/">Learn more about the design &xrarr;</a></p>
					</div>
				</div>
				<div class="content__item" id="content-4">
					<img class="content__item-img rounded-right" src="image/Film.jpg" alt="iMac Content" />
					<div class="content__item-inner">
						<h2>The iMac</h2>
						<h3>Engineered to the very last detail</h3>
						<p>Every new Mac comes with Photos, iMovie, GarageBand, Pages, Numbers, and Keynote. So you can be creative with your photos, videos, music, documents, spreadsheets, and presentations right from the start. You also get great apps for email, surfing the web, sending texts, and making FaceTime calls — there’s even an app for finding new apps.</p>
						<p><a href="https://www.apple.com/imac/built-in-apps/">Learn more about the iMac's features &xrarr;</a></p>
					</div>
				</div>
				<div class="content__item" id="content-5">
					<img class="content__item-img rounded-right" src="image/Film.jpg" alt="Apple Watch Content" />
					<div class="content__item-inner">
						<h2>The Apple Watch</h2>
						<h3>Entirely new ways to stay in touch</h3>
						<p>Apple Watch makes all the ways you're used to communicating more convenient. And because it sits right on your wrist, it can add a physical dimension to alerts and notifications. For example, you’ll feel a gentle tap with each incoming message. Apple Watch also lets you connect with your favorite people in fun, spontaneous ways — like sending a tap, a sketch, or even your heartbeat. </p>
						<p><a href="https://www.apple.com/watch/new-ways-to-connect/">Learn more about new ways to connect &xrarr;</a></p>
					</div>
				</div>
				<button class="button button--close"><ion-icon name="return-up-back-outline"></ion-icon><span class="text-hidden">Close content</span></button>
			</section>
		</div>
	

	
		<%- include('partials/footer') %>
	

	<script src="js/classie.js"></script>
	<script src="js/dynamics.min.js"></script>
	<script src="js/main.js"></script>
	<script
   type="module"
   src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
 ></script>
 <script
   nomodule
   src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
 ></script>
 <script src="js/script.js"></script>
 <script src="js/footer.js"></script>
 <script>
	const images=document.querySelectorAll(".content__item-inner img");
	images.forEach((img) => {
		img.addEventListener("click", () => {
			const imageUrl=img.src;
			document.getElementById("fullImg").src=imageUrl;
		});
	});
 </script>
</body>
</html>